extends ../layout

block content
    h2 Đạo đẹp trai 

    script.
          /*Đề bài: Cho một mảng n số nguyên. Tìm và in ra các số nguyên tố trong mảng */
      function main() {
        const input = prompt("Nhập dãy số nguyên, ngăn cách bằng dấu cách", 0)
        const numbers = input.split(' ')

        for (let i = 0; i < numbers.length; i++) {
          if (isNguyenTo(numbers[i])) {
            console.log(numbers[i])
          }
        }
      }

      function isNguyenTo(n) {
        if (n <= 1) {
          return false
        }
        let isNguyenTo = true

        for (let i = 2; i < n; i++) {
          if (n % i == 0) {
            return false
          }
        }

        return isNguyenTo
      }
      main()
